<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
      <div class="example">
        <h3>Example</h3>
        <p>Shorten Url: [Project URL] / api / shorturl / [short_url]</p>
        <p>Original Url: <a href="https://wenying0808.github.io/pomodoro/">https://wenying0808.github.io/pomodoro/</a></p>
        <p>Shorten Url: <a href="https://wenying0808.github.io/pomodoro/">https://urlshortener-microservice-4rtf.onrender.com/api/shorturl/IMXJRsyr3</a></p>
      </div>
      
    </main>
    <footer>
      <p>By <a href="https://github.com/Wenying0808/urlshortener-microservice">Wenying</a></p>
    </footer>
  </body>
</html>
